<%#= @all_records %>

<%= form_tag(params.slice(:project_id, :issue_id), :method => :get, :id => 'query_form') do %>

  <div id="query_form_with_buttons" class="hide-when-print">
  <%= date_field_tag(:q) %>
    <%= submit_tag("Search") %>
  </div>
<% end %>

<div class="autoscroll">
<table class="list time-entries">
<thead>
  <tr>
    <th >员工名</th>
    <th >计划工时</th>
    <th>实际工时</th>
    <th>差额</th>

  </tr>
</thead>
<tbody>
  <% @all_records.each do |entry| -%>
  <tr class="time-entry  hascontextmenu">
      <td ><%= entry[:user] %></td>
      <td ><%= entry[:plan_hours] %></td>
      <!-- time_entries/&user_id=10 -->
      <td ><a href="/time_entries/?user_id=<%= entry[:user_id]  %>" ><%= entry[:hours] %></a></td>
      <td ><%= entry[:hours] - entry[:plan_hours] %></td>
</tr>
  <% end -%>
</tbody>
</table>
</div>