

<%#= @all_records %>
<h1>多余人力资源视图</h1>
<%= form_tag(params.slice(:project_id, :issue_id), :method => :get, :id => 'query_form') do %>

  <div id="query_form_with_buttons" class="hide-when-print">
  <%= date_field_tag(:time_more_than) %>
  <%= check_box_tag(:show_all)%> 显示全部
  <%#= date_field_tag(:time_less_than) %>
  <%= submit_tag("Search") %>
  <%  if  params[:time_more_than] ||  params[:time_less_than]%>

  <a href="/time_entries/free" class="btn btn-default" >重置</a>
  日期: <%= params[:time_more_than] %>


  <% end%>

  </div>
<% end %>

    <div>
    </div>


<div class="autoscroll">
<table id="my_export" class="list time-entries">
<thead>
  <tr>
    <th >员工名</th>
    <th >最后安排时间</th>
    <th>工时/H</th>

  </tr>
</thead>
<tbody>
  <% @all_records.each do |entry| -%>

  <%  if  params[:show_all] == "1"%>


  <tr class="time-entry  hascontextmenu">

      <td ><a href="/issues/?utf8=✓&set_filter=1&assigned_to_id=<%= entry[:user_id]  %>&per_page=100" ><%= entry[:user] %></a></td>
      <td ><%= entry[:issue][:due_date] rescue '' %></td>
      <td ><%= entry[:issue][:estimated_hours] rescue '' %></td>
</tr>
  <% else %>

    <% unless entry[:issue].present? %>
      <tr class="time-entry  hascontextmenu">
          <td ><a href="/issues/?assigned_to_id=<%= entry[:user_id]  %>&per_page=100" ><%= entry[:user] %></a></td>
          <td ><%= entry[:issue][:due_date] rescue '' %></td>
          <td ><%= entry[:issue][:estimated_hours] rescue '' %></td>
    </tr>
    <% end %>
  <% end %>


  <% end -%>
</tbody>
</table>
</div>
<p class="other-formats">导出
  <span><a class="csv" rel="nofollow"  id="btnExport" href="#" download="">Excel</a></span>
</p>

<script type="text/javascript" src="/javascripts/jquery.battatech.excelexport.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnExport").on('click', function () {
            var uri = $("#my_export").battatech_excelexport({
              containerid: "my_export",
              datatype: 'table',
              encoding: "UTF-8",
              returnUri: true
            });
            $(this).attr('download', '多余人力资源.xls').attr('href', uri).attr('target', '_blank');
        });
    });
</script>


